[submodule "submodules/dbp-relay-auth-bundle"]
	path = submodules/dbp-relay-auth-bundle
	url = https://github.com/digital-blueprint/relay-auth-bundle.git
[submodule "submodules/dbp-relay-esign-bundle"]
	path = submodules/dbp-relay-esign-bundle
	url = https://github.com/digital-blueprint/relay-esign-bundle.git
[submodule "submodules/dbp-relay-core-bundle"]
	path = submodules/dbp-relay-core-bundle
	url = https://github.com/digital-blueprint/relay-core-bundle.git
[submodule "submodules/dbp-relay-greenlight-connector-campusonline-bundle"]
	path = submodules/dbp-relay-greenlight-connector-campusonline-bundle
	url = https://github.com/digital-blueprint/dbp-relay-greenlight-connector-campusonline-bundle.git
[submodule "submodules/dbp-relay-greenlight-bundle"]
	path = submodules/dbp-relay-greenlight-bundle
	url = https://github.com/digital-blueprint/dbp-relay-greenlight-bundle.git
[submodule "submodules/dbp-relay-mono-bundle"]
	path = submodules/dbp-relay-mono-bundle
	url = https://github.com/digital-blueprint/relay-mono-bundle.git
[submodule "submodules/dbp-relay-mono-connector-campusonline-bundle"]
	path = submodules/dbp-relay-mono-connector-campusonline-bundle
	url = https://github.com/digital-blueprint/relay-mono-connector-campusonline-bundle.git
[submodule "submodules/dbp-relay-mono-connector-payunity-bundle"]
	path = submodules/dbp-relay-mono-connector-payunity-bundle
	url = https://github.com/digital-blueprint/relay-mono-connector-payunity-bundle.git
[submodule "submodules/dbp-relay-mono-connector-generic-bundle"]
	path = submodules/dbp-relay-mono-connector-generic-bundle
	url = https://github.com/digital-blueprint/relay-mono-connector-generic-bundle.git
[submodule "submodules/dbp-relay-dispatch-bundle"]
	path = submodules/dbp-relay-dispatch-bundle
	url = https://github.com/digital-blueprint/relay-dispatch-bundle
[submodule "submodules/relay-authentic-documents-bundle"]
	path = submodules/relay-authentic-documents-bundle
	url = https://github.com/digital-blueprint/relay-authentic-documents-bundle
[submodule "submodules/relay-base-person-bundle"]
	path = submodules/relay-base-person-bundle
	url = https://github.com/digital-blueprint/relay-base-person-bundle
[submodule "submodules/relay-base-person-connector-ldap-bundle"]
	path = submodules/relay-base-person-connector-ldap-bundle
	url = https://github.com/digital-blueprint/relay-base-person-connector-ldap-bundle
[submodule "submodules/relay-sublibrary-bundle"]
	path = submodules/relay-sublibrary-bundle
	url = https://github.com/digital-blueprint/relay-sublibrary-bundle
[submodule "submodules/relay-server-template"]
	path = submodules/relay-server-template
	url = https://github.com/digital-blueprint/relay-server-template
[submodule "submodules/dbp-relay-core-connector-ldap-bundle"]
	path = submodules/dbp-relay-core-connector-ldap-bundle
	url = https://github.com/digital-blueprint/relay-core-connector-ldap-bundle
