[submodule "submodules/dbp-relay-auth-bundle"]
	path = submodules/dbp-relay-auth-bundle
	url = https://github.com/digital-blueprint/relay-auth-bundle.git
[submodule "submodules/dbp-relay-esign-bundle"]
	path = submodules/dbp-relay-esign-bundle
	url = https://github.com/digital-blueprint/relay-esign-bundle.git
[submodule "submodules/dbp-relay-core-bundle"]
	path = submodules/dbp-relay-core-bundle
	url = https://github.com/digital-blueprint/relay-core-bundle.git
[submodule "submodules/dbp-relay-greenlight-connector-campusonline-bundle"]
	path = submodules/dbp-relay-greenlight-connector-campusonline-bundle
	url = https://github.com/digital-blueprint/dbp-relay-greenlight-connector-campusonline-bundle.git
[submodule "submodules/dbp-relay-greenlight-bundle"]
	path = submodules/dbp-relay-greenlight-bundle
	url = https://github.com/digital-blueprint/dbp-relay-greenlight-bundle.git
[submodule "submodules/dbp-relay-mono-bundle"]
	path = submodules/dbp-relay-mono-bundle
	url = https://github.com/digital-blueprint/relay-mono-bundle.git
[submodule "submodules/dbp-relay-mono-connector-campusonline-bundle"]
	path = submodules/dbp-relay-mono-connector-campusonline-bundle
	url = https://github.com/digital-blueprint/relay-mono-connector-campusonline-bundle.git
[submodule "submodules/dbp-relay-mono-connector-payunity-bundle"]
	path = submodules/dbp-relay-mono-connector-payunity-bundle
	url = https://github.com/digital-blueprint/relay-mono-connector-payunity-bundle.git
[submodule "submodules/dbp-relay-mono-connector-generic-bundle"]
	path = submodules/dbp-relay-mono-connector-generic-bundle
	url = https://github.com/digital-blueprint/relay-mono-connector-generic-bundle.git
[submodule "submodules/dbp-relay-dispatch-bundle"]
	path = submodules/dbp-relay-dispatch-bundle
	url = https://github.com/digital-blueprint/relay-dispatch-bundle
