:root {
    --md-text-font:"Nunito Sans";
    --md-code-font:"Roboto Mono";
}

.notbold{
    font-weight: lighter;
}

.md-typeset {
    line-height: 1.5em;
}

.md-typeset ul li, .md-typeset ol li {
    margin-bottom: 0.3em;
}

.md-logo img {
    border-radius: 2px;
}

@media only screen and (min-width:76.1875em) {
    .md-grid {
        max-width: 80rem;
    }
    .md-sidebar.md-sidebar--primary {
        width: 15rem;
    }
}
