@import url('https://static.tugraz.at/static/core/1.0/fonts/ssp-light.css');
@import url('https://static.tugraz.at/static/core/1.0/fonts/ssp-regular.css');
@import url('https://static.tugraz.at/static/core/1.0/fonts/ssp-semibold.css');
@import url('https://static.tugraz.at/static/core/1.0/fonts/ssp-bold.css');

html {
    font-family: "Source Sans Pro" !important;
    font-size: 120%;
    line-height: 80%;
}
